@import './functions';

@mixin font-style($family, $weight, $f-size, $letterSpacing, $f-color) {
  font-family: $family;
  font-weight: $weight;
  line-height: calculateLineHeight($f-size);
  font-size: $f-size;
  letter-spacing: $letterSpacing;
  color: $f-color;
}

@mixin single-grid-item() {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
}