@forward './mixins';

$bg-color: #F6F1F1;
$main-color: #33b1ff;
$main-color-hover: #1a8cff;
$main-color-active: #0059b3;
$main-color-disabled: #b3d9ff;
$main-text-color: #000000;
$secondary-text-color: #ffffff;
$error: #ff3333;
$main-font: 'Roboto',
sans-serif;
$border-radius: 0.5rem;
$max-width: 125rem;
$fz-xxs: 1.2rem;
$fz-xs: 1.4rem;
$fz-sm: 1.6rem;
$fz-md: 1.8rem;
$fz-lg: 2rem;

$header-height: 8rem;