@use '@styles/variables'as *;

.card {
  background: none;
  border-radius: $border-radius;
  border: none;
  cursor: pointer;
  outline: none;

  &__image {
    margin-block-end: 0.5rem;
    position: relative;
    width: 100%;

    img {
      border-radius: 0.5rem;
      height: auto;
      object-fit: cover;
      width: 100%;
      vertical-align: middle;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__category {
    @include font-style($main-font, normal, $fz-xxs, 0px, $text-color);

    background-color: rgba($bg-color, 0.8);
    border-radius: $border-radius;
    bottom: 0;
    left: 0;
    margin: 1rem;
    padding: 0.125rem 0.75rem;
    position: absolute;
  }

  &__title {
    @include font-style($main-font, normal, $fz-xs, 0px, $text-color);

    text-overflow: ellipsis;
  }

  &__price {
    @include font-style($main-font, bold, $fz-xs, 0px, $text-color);
  }
}