@use '@styles/variables'as *;

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: $header-height;
  max-width: $max-width;
  z-index: 1;

  &__logo {
    cursor: pointer;
    color: $main-color;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
  }

  &__link {
    color: $main-color;
    font-size: $fz-md;
  }

  &__checkout {
    display: flex;
    align-items: end;
    gap: 0.5rem;
  }

  &__cant {
    @include font-style($main-font, normal, $fz-xxs, 0px, $main-color);

    border-radius: 50%;
    display: flex;

  }
}