@use '@styles/variables'as *;

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: $header-height;
  max-width: $max-width;
  z-index: 1;

  &__logo {
    cursor: pointer;
    color: $main-color;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
  }

  &__link {
    color: $main-color;
    font-size: $fz-md;
  }

  &__checkout {
    position: relative;
  }

  &__cant {
    @include font-style($main-font, normal, 1.2rem, 0px, $main-color);

    align-items: center;
    border-radius: 50%;
    color: $text-color;
    display: flex;
    height: 2rem;
    justify-content: center;
    position: absolute;
    width: 2rem;
    top: 0;
    right: 0;
    transform: translateY(-100%);
  }
}