@use '@styles/variables'as *;

.information {
  display: grid;
  grid-template-areas: "form""sidebar";
  grid-template-columns: 1fr;
  gap: 2rem;

  &__content {
    grid-area: form;
  }

  &__title {
    @include font-style($main-font, bold, $fz-lg, 0px, $main-text-color);

    margin-block-end: 1rem;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.8rem;

    &_group {
      display: flex;
      flex-flow: column nowrap;
    }

    &_input {
      @include font-style($main-font, normal, $fz-sm, 0px, $main-text-color);

      border-radius: $border-radius;
      border: 1px solid $stroke-color;
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.75);
      font-feature-settings: "tnum";
      height: 3rem;
      margin-block-end: 0.5rem;
      padding: 0.5rem 1rem;
      width: 100%;

      &_error {
        border-color: $error;
      }


      &:focus,
      &:active {
        border-color: $main-color;
        outline: none;
      }
    }

    &_error {
      @include font-style($main-font, normal, $fz-xxs, 0px, $error);
    }

    &_buttons {
      align-items: center;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }

    &_button {
      @include font-style($main-font, normal, $fz-sm, 0px, $main-text-color);

      background-color: $bg-color;
      border: none;
      border-radius: $border-radius;
      color: $main-text-color;
      cursor: pointer;
      height: fit-content;
      width: fit-content;
    }
  }

  &__sidebar {
    &_title {
      @include font-style($main-font, bold, $fz-lg, 0px, $main-text-color);

      margin-block-end: 1rem;
    }

    &_content {
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;
    }

    &_list {
      display: grid;
      gap: 1rem;
      list-style: none;
      margin: 0;
      padding: 0;

      &_item {
        display: grid;
        height: 5rem;
        gap: 1rem;
      }

      &_details {
        align-items: center;
        border-bottom: 1px solid $stroke-color;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: inherit;
        padding-block-end: 1px;
      }

      &_info {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: inherit;
        gap: 1rem;
      }

      &_image {
        border-radius: $border-radius;
        object-fit: cover;
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
      }

      &_title {
        @include font-style($main-font, normal, $fz-md, 0px, $main-text-color);
      }

      &_price {
        @include font-style($main-font, bold, $fz-md, 0px, $main-text-color);
      }

      &_actions {
        align-items: center;
        display: flex;
        gap: 1rem;
      }

      &_quantity {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;
      }

      &_text {
        @include font-style($main-font, normal, $fz-sm, 0px, $main-text-color);
      }
    }

    &_total {
      @include font-style($main-font, bold, $fz-md, 0px, $main-text-color);
    }
  }
}

@media screen and (min-width: $desktop) {
  .information {
    grid-template-areas: "form sidebar";
    grid-template-columns: 2fr 1fr;
  }
}