@use "@styles/variables"as *;

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 10px;
  width: 100%;

  &__copy {
    @include font-style($main-font, 400, $fz-xs, 0px, $text-color);
  }
}