@use '@styles/variables'as *;

.container {
  padding: 2rem 0rem 0rem;
}

.title {
  @include font-style($main-font, bold, $fz-lg, 0px, $main-text-color);

  margin-bottom: 1rem;
}

.categories {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  list-style: none;

  &__loader {
    margin: 0 auto;
  }

  &__error {
    @include font-style($main-font, normal, $fz-xs, 0px, $error);

    margin: 0 auto;
  }

  &__empty {
    @include font-style($main-font, normal, $fz-xs, 0px, $main-text-color);

    margin: 0 auto;
  }
}